@import "tailwindcss";

@keyframes marquee-right {
  0% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-right {
  animation: marquee-right 12s linear infinite;
}

html {
  scroll-behavior: smooth;
}

/* === */
/* slick dots positioning */



/* active dot */
.slick-dots li.slick-active button:before {
  color: #0284c7;
  font-size: 14px;
}


/* === */
 


@media (min-width:1090px) and (max-width:1200px) {
  .padding {
    padding: 1vw 10vw;
  }
}

@media (max-width:367px) {
  .sh{
    height: 39rem;
  }
}

@media (max-width:287px) {
  .sh{
    height: 42rem;
  }

}

@media (max-width:767px) {
  .wf {
    width: 31rem;
    padding: 8.4px;
    border-radius: 1.4vw;
    margin-bottom: 5vw;

  }
}

@media (min-width:1400px) {
  .wf1 {
    width: 12rem;

  }

  .gp {
    display: flex;
    /* gap: 2rem; */
  }


}

@media (min-width:767px) and (max-width:1024px) {
  /* .wf1 {
    width: 22rem;
    gap: 2rem;
  } */
}


@media (max-width:576px) {
  .wf {
    width: 93vw;
    padding: 8.4px;
    border-radius: 1.4vw;
    margin-bottom: 5vw;

  }
}